<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wooshop.service.mapper.CodeScrewConfigMapper">

  <!-- 通用查询结果列 -->
  <!--
  <sql id="Base_Column_List">
      a.config_id, a.version, a.description, a.ignore_table_name, a.ignore_table_prefix, a.ignore_table_suffix, a.designated_table_name, a.designated_table_prefix, a.designated_table_suffix
  </sql>
  -->
</mapper>
