<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wooshop.modules.quartz.service.mapper.QuartzLogMapper">

  <!-- 通用查询结果列 -->
  <!--
  <sql id="Base_Column_List">
      a.log_id, a.bean_name, a.create_time, a.cron_expression, a.exception_detail, a.is_success, a.job_name, a.method_name, a.params, a.time
  </sql>
  -->
</mapper>
